@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div id="BB-container">
    <img src="~/Images/BuckingBronco.png" alt="BuckingBronco" />
</div>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h2 class="text-danger" id="errorMsg-container">Woops partner, you just got bucked off by an error!</h2>
</div>
